/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea {
  box-sizing: border-box;
}

/* BREAKPOINTS */
/* COLORS fonts + hover */
/* COLORS Backgrounds gradients */
/* FONTS */
.section {
  padding: 110px 0;
}
.section.small {
  padding: 90px 0;
}

.inside {
  position: relative;
  padding: 0 50px;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.title-hero {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-bottom: 30px;
}

.sub-title-hero {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-bottom: 40px;
}

.section-title {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 16px;
  color: hsl(208, 49%, 24%);
  text-align: center;
}
.section-title.white {
  color: hsl(0, 0%, 100%);
}

.text {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: hsl(207, 13%, 34%);
  line-height: 30px;
}
.text.white {
  color: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.centering {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 15px 25px;
  margin: 0 20px 10px 0;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19px;
  border-radius: 25px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.button.white {
  background: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
}
.button.white:hover {
  border: 1px solid hsl(0, 0%, 100%);
  background: transparent;
  color: hsl(0, 0%, 100%);
  transition: all 600ms ease;
}
.button.transparent {
  border: 1px solid hsl(0, 0%, 100%);
  background: transparent;
  color: hsl(0, 0%, 100%);
}
.button.transparent:hover {
  background: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
  transition: all 600ms ease;
}

.logo {
  background: url("/public/images/logo.svg") no-repeat center;
  display: block;
  height: 53.27px;
  overflow: hidden;
  position: relative;
  width: 153px;
}

#header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6;
  padding: 25px 0;
}
#header .inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header .logo {
  background: url("/public/images/logo.svg") no-repeat center;
  display: block;
  height: 53.27px;
  overflow: hidden;
  position: relative;
  width: 153px;
}
#header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#header .navigation .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
#header .navigation .link-nav {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  margin: 0 20px;
  position: relative;
}
#header .navigation .link-nav::before {
  content: "";
  position: absolute;
  width: 5px;
  width: 7px;
  height: 8px;
  right: -20px;
  top: 6px;
  background: url("/public/images/icon-arrow-light.svg") no-repeat center;
  background-size: cover;
  padding-left: 5px;
}
#header a {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
#header .test {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .test .login {
  color: hsl(0, 0%, 100%);
  margin-left: 20px;
}
#header .test .sign-up {
  color: hsl(356, 100%, 66%);
  padding: 13px 45px;
  background: hsl(0, 0%, 100%);
  border-radius: 25px;
  margin-left: 20px;
}
#header .test .sign-up:hover {
  border: 1px solid hsl(0, 0%, 100%);
  background: transparent;
  color: hsl(0, 0%, 100%);
  transition: all 600ms ease;
}

#homepage .item-title {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  color: hsl(208, 49%, 24%);
  margin-bottom: 15px;
}
#homepage .section-title {
  margin-bottom: 80px;
}
#homepage .section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
#homepage .section-grid .grid-item.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#homepage .section-grid .item {
  margin-bottom: 50px;
}
#homepage #home-hero {
  padding: 170px 0 140px;
  background: linear-gradient(90deg, rgb(255, 143, 112) 33%, rgb(255, 61, 84) 100%);
  background-size: cover;
  border-radius: 0 0 0 100px;
}
#homepage #home-hero::before {
  content: "";
  position: absolute;
  background: url("/public/images/bg-pattern-intro-desktop.svg") no-repeat center;
  background-size: cover;
  background-size: auto;
  width: 2018px;
  height: 510px;
  top: 0;
  right: -700px;
}
#homepage #home-future {
  padding: 110px 0 190px;
  position: relative;
}
#homepage #home-future::before {
  content: "";
  position: absolute;
  width: 630px;
  height: 630px;
  top: 60px;
  right: -110px;
  background: url("/public/images/illustration-editor-desktop.svg") no-repeat center;
  background-size: cover;
}
#homepage #home-state {
  background: hsl(237, 17%, 21%);
  border-radius: 0 100px 0 100px;
  z-index: 1;
}
#homepage #home-state .state-title {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  color: hsl(0, 0%, 100%);
  text-align: left;
  margin-bottom: 30px;
}
#homepage #home-state .inside {
  position: relative;
}
#homepage #home-state .inside:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -200px;
  left: 0;
  width: 520px;
  height: 570px;
  background: url("/public/images/illustration-phones.svg") no-repeat center;
  background-size: cover;
}
#homepage #home-state .home-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 15px;
}
#homepage #home-state .home-grid .grid-item.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 60px;
}
#homepage #home-state .home-grid .item {
  margin-bottom: 50px;
}
#homepage #home-free {
  padding: 190px 0 190px;
  position: relative;
}
#homepage #home-free::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 670px;
  top: 22px;
  left: -140px;
  background-color: aquamarine;
  background: url("/public/images/illustration-laptop-desktop.svg") no-repeat center;
  background-size: cover;
}

#footer {
  padding: 70px 0;
  background: hsl(240, 10%, 16%);
}
#footer .link-footer {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
#footer .link-footer a {
  color: hsl(0, 0%, 100%);
}
#footer .link-footer a:hover {
  color: hsl(356, 100%, 66%);
  transition: all 600ms ease;
}
#footer .link-item-footer {
  margin-bottom: 10px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
}
#footer .link-item-footer a {
  color: hsl(240, 2%, 79%);
}
#footer .footer-grid {
  display: grid;
  grid-template-columns: 20% 80%;
}
#footer .footer-grid .footer-item {
  margin: 0 10px 20px;
}
#footer .footer-grid .footer-item.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}/*# sourceMappingURL=app.css.map */